<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <input id='na' type='text' />
    <input type='button' value='点击执行' onclick='DoAjax();' />

    <script src='/static/jquery-1.8.0.min.js'></script>
    <script type='text/javascript'>
    function DoAjax(){
    	var temp = $('#na').val();
    	$.ajax({
    		url:'/app04/ajax/',
    		type:'POST',
    		data:{dat:temp},
    		success:function(arg){
    			console.log(arg);
    			console.log('success');
    		},
    		error:function(){
    			console.log('failed');
    		}
    	});
    }
    </script>
</body>
</html>